/*cssfile*/
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
    background-color: white;
}
h1 {
    text-align: center;
    color: white;
}
h2 {
}
h3 {
}
p {
}
#portrait {
      width: 200px; /* Adjust the size as needed */
      height: 200px; /* Adjust the size as needed */
      border-radius: 50%; /* Makes the image circular */
      overflow: hidden; /* Hides overflow content outside the circle */
      margin-top: 50px;
    }

#title {
}
#bg-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

#bg-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: white; /* Adjust text color as needed */
}
section {
  height: 100vh;
  width: 100%;
  display: table;
  
}
section.about-me{
}
#abtText {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: grey;
}
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
.hero_area {
    position: relative;
    height: 100vh;
    background-color: white;
    padding-top: 50px;
}

.waves {
    position: absolute;
    width: 100%;
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
    bottom: 0;
    left: 0;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: rgba(128, 128, 128, 0.7); /* Light grey with some opacity */
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: rgba(105, 105, 105, 0.5); /* Dim grey with some opacity */
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: rgba(169, 169, 169, 0.3); /* Dark grey with some opacity */
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: rgba(192, 192, 192, 1); /* Silver */
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}
